<div class="w-100 mb-3 font-terminal" style="background-color: #222222;height: 10rem; text-align: center;">
  <h1 class="pt-5" style="color: whitesmoke;"> S Y N A P P S E </h1>
  <h6 style="color: lightgray;"> ESP Management Application - 2024 </h6>
</div>
<!-- <div class="w-100"
  style="background-color: #333333;height: 4rem; margin-bottom: 1rem; text-align: center; display: inline-flex;">
  <div class="col col-3 center menu-button">
    TERMINAL
  </div>
  <div class="col col-3 center menu-button">
    DEVICES
  </div>
  <div class="col col-3 center menu-button">
    SETUP
  </div>
  <div class="col col-3 center menu-button">
    HELP
  </div>
</div> -->
<router-outlet />